html {
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    overflow: hidden;
    background-color: #2f2f2f;
    padding: 10px 10px;
  }
  
  .header a{
    overflow: hidden;
    float: left;
    color: #FFF;
    text-align: center;
    padding: 12px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  body {
    background-image: url('images/juturubackground.jpeg');
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }

  input, button {
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .customer-login-div {
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px 40px #a3a3a3;
    margin: 0px auto;
    margin-top: 150px;
    padding: 40px;
    display: none;
    width: 360px;
  }
  
  
  .customer-login-div input {
    display: block;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .customer-login-div input:focus{
    border: 1px solid #777;
  }
  
  .customer-login-div button{
    background: #2196F3;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .customer-login-div button:hover{
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
  }


.customer-logged-in-div{
  display: none;
}


  *, *:before, *:after {
    box-sizing: inherit;
  }


  .scratchpad{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: solid 10px #FFFFFF;
    margin-inline-start: 10px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  body {
      background:#efefef;
  }
  .scratch-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:100%;
    position: relative;
    overflow: auto;
  }
  @media only screen and (max-width : 480px) {
    .scratchpad {    width: 360px;
      height: 360px;}
    .scratch-container {width:400px !important;}
  }
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    .scratchpad {width:290px;height:287px;}
    .scratch-container {width:290px !important;}
  }
  .promo-container {
    display: inline-block;
      background:#FFF;
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      width:100px;
      padding:20px;
      margin:0 auto;
      text-align:center;
      font-family:'Open Sans', Arial,Sans-serif;
      color:#333;
      font-size:16px;
      margin-top:20px;
  }
  .btn {
    background:#56CFD2;
    color:#FFF;
    padding:10px 25px;
    margin-top:15px;
    text-decoration:none;
    font-weight:600;
    text-transform:uppercase;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radiuss:3px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 5px;
    background-color: #efefef;
    color: #444;
    position: absolute;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 100%;
    white-space: pre;
  }

  .gift-wrapper {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    margin: 0 auto;
    position: absolute;
  }

  .gift-scratchpad{
    width: 300px;
    height: 300px;
    border: solid 10px #FFFFFF;
    margin-inline-start: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .gift-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin-top: 10px;
  }

  @media only screen and (max-width : 480px) {
    .gift-scratchpad {    width: 360px;
      height: 360px;}
    .gift-container {width:400px !important;}
  }

  @media only screen and (max-width : 320px) {
    .gift-scratchpad {width:290px;height:287px;}
    .gift-container {width:290px !important;}
  }

   .bo-wrapper {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    margin: 0 auto;
    position: absolute;
    background-color: yellow;
  }

  .bo-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin-top: 10px;
  }
  .BO-scratchpad{
    width: 300px;
    height: 300px;
    border: solid 10px #FFFFFF;
    margin-inline-start: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  @media only screen and (max-width : 480px) {
    .BO-scratchpad {    width: 360px;
      height: 360px;}
    .bocontainer {width:400px !important;}
  }

  @media only screen and (max-width : 320px) {
    .BO-scratchpad {width:290px;height:287px;}
    .bocontainer {width:290px !important;}
  }

  
button.customer_logout_button {
    float: right;
    width: 80px;
    height: 45px;
    overflow: hidden;
    background: #2196F3;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    /* width: 100%; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.card{
  /* width: 50%; */
  margin-left: 1vh;
}

/* .bocontainer {
  width: 50%;
  height: 50%;
}
.row{
    margin: 5% 5%;
}*/
.bowrapper{
    
    background-color: yellow;
}