body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.bg-primary {
  background-color: #0062cc !important;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/* .main-div {
  width: 350px;
  overflow: auto;
  background: rgb(255, 255, 255);
  box-shadow: 5px 10px 40px #505050;
  margin: 0px auto;
  margin-top: 150px;
  padding: 40px;
  display: none;
} */

.master-container{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar{
  display: none;
}

#admin_logged_in{
  display: none;
  margin-top: 5%;
}

.logged_in_class{
  display: none;
  padding: 5%;
}

.loggedin-div {
  overflow: auto;
  background: rgb(248, 248, 248);
  padding: 50px;
  display: none;
  height: 650px;
  
}

/* .main-div input, .loggedin-div input {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus, .loggedin-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #2196F3;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
} */

.user-top-panel{
  height: 50px;
  background: #292929;
  width: 100%;
}

#logout_button_id{
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  width: 90px;
  height: 40px;
  background: #2196F3;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  float: right;
}

#title_welcome_id {
    color: #292929;
    text-align: center;
    display: none;
}

.logo-container {
  display: inline-block;
  background-size: 100px 40px;
  height: 40px;
  width: 100px;
  margin: 5px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/juturuscratchcards.appspot.com/o/juturulogo.jpeg?alt=media&token=4c409fa6-842d-44f9-b2f1-0857819d6620");
}



/* Checkbox styling -------------------------------------------------------------------------- */

.checkbox-container {
  display: block;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Checkbox styling Ends -------------------------------------------------------------------------- */



/* Callout ------------------------------------------ */

/* .callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
} */

/* Callout Ends ------------------------------------------ */



h2 {
  font-family:sans-serif;
}
.customer-list-container{
  display: none;
  width: 400px;
  height: 650px;
  overflow: auto;
  padding: 20px;
  background: rgb(248, 248, 248);
}

.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #fff;
  padding:20px;
  box-shadow: 5px 5px 10px #cccccc;
  margin-bottom: 10px;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  color: #000000;
  margin: 0 0 0.3rem;
  font-weight: normal;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #77777787;
  text-transform: uppercase;
}
p {
  margin:0;
  padding-top: 4px;
  font-size: 14px;
  color: #3F51B5;
}

p.invoiceNumber:before {
  content: "Invoice : ";
  /* font-weight: bold; */
  color: #000000;
}

p.password:before {
  content: "Password : ";
  /* font-weight: bold; */
  color: #000000;
}

p.amaount:before {
  content: "Amount : ";
  /* font-weight: bold; */
  color: #000000;
}

p.phone:before {
  content: "Phone : ";
  /* font-weight: bold; */
  color: #000000;
}

p.age:before {
  content: "Age : ";
  /* font-weight: bold; */
  color: #000000;
}

p.giftCard:before {
  content: "GiftCard : ";
  /* font-weight: bold; */
  color: #000000;
}

p.date:before {
  content: "Date : ";
  /* font-weight: bold; */
  color: #000000;
}

p.scratchAmount:before {
  content: "ScratchCard Amount : ";
  /* font-weight: bold; */
  color: #000000;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}


.sort {
  overflow: hidden;
  border-radius: 6px;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #28a8e0;
  height: 40px;
  margin-bottom: 5px;
  display: block;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}